/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This style will hide the tab bar.
 * There are two styles, one for MacOS, and one for all other platforms,
 * or if you're using a titlebar. Comment out/delete the one you don't need.
 * Currently tested on MacOS Sierra and Linux on Nightly */

/* Remove Tabs on MacOS
 * Comment this out, and use the other rule for other platforms, or if you choose to enable the titlebar */

#TabsToolbar {
  height: 22px !important;
  visibility: collapse;
}
.tabbrowser-tabs {
  height: 22px !important;
  visibility: collapse;
}
#tabbrowser-tabs {
  visibility: collapse;
  height: 22px !important;
}
#nav-bar{
  border-top-width: 0px !important;
  padding: 0px 5px 0px 75px !important; /*The 75px is a fix for MacOS to make room for the window controls*/
}

/*position window controls.  Only for MacOS*/
#titlebar-buttonbox-container {
  margin-left: 5px !important;
  margin-top: 5px !important;
}

/* Hide tabs on Linux, Windoows, any with titlebar.
 * Doesn't work right with MacOS, use the other one instead */

#TabsToolbar {
	visibility: collapse !important;
}